* {
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0E7F1;
    box-sizing: border-box;
}

#product-list {
    flex: 1; 
    margin: 40px;
    text-align: center;
}

footer {
    background-color: #4C5B70;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0; 
    margin-top: auto; 
}

header {
    background-color: #4C5B70;
    color: white;
    padding: 10px;
    text-align: center;
    height: 100px;
}
.nav-header {
    min-height: 50px;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    background-color: #4C5B70;
    border-radius: 20px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    background-color: #A0B0A8; 
    padding: 10px 20px; 
    text-decoration: none;
}

#hero {
    background-color: #9BA4B5;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
}

#hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#hero button {
    background-color: #A0B0A8;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 10px;
}

#hero button:hover {
    background-color: #A0B0A8;
}

#product-list {
    background-color: #E0E7F1; 
    padding: 20px;
    border-radius: 8px; 
    margin: 0; 
    margin-bottom: 30px;
    width: 100%; 
    height: 800px;
    box-sizing: border-box;
    text-align: center; 
}

.product-grid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 50px; 
}

.product {
    position: relative;
    background-color: white;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    justify-content: center;
    height: 375px;
    width: 300px;
}

.product:hover {
    transform: scale(1.08);
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.product-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
}  

.product:hover .product-description {
    opacity: 1;
}

button {
    background-color: #4C5B70;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

button:hover {
    background-color: #1E2A38;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover {
    text-decoration: underline;
}

.cart-container {
    position: absolute; 
    top: 0px; 
    right: 25px; 
}

#cart-button {
    background-color: #A0B0A8; 
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#cart-button:hover {
    background-color: darkred; 
}

.cart-dropdown {
    position: absolute;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    padding: 20px;
    right: 0;
    z-index: 1;
    display: none; 
}

.cart-container:hover .cart-dropdown {
    display: block; 
}

.cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.cart-dropdown li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: black;
}

.cart-dropdown p {
    font-weight: bold;
}

.promo-header {
    background-color: #4C5B70;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}