#product-list {
    background-color: #E0E7F1; 
    padding: 20px;
    border-radius: 8px; 
    margin: 0; 
    margin-bottom: 30px;
    width: 100%; 
    height: 800px;
    box-sizing: border-box;
    text-align: center; 
}

.product-grid {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 50px; 
}

.product {
    position: relative;
    border-radius: 8px;
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    justify-content: center;
    height: 375px;
    width: 300px;
    min-width: 300px;
    min-height: 375px;
}
.oregon {
    background-color: #7B4B3A !important;
    color: #F0E5D8; 
}
.misty {
    background-color: #4A5A63 !important;
    color: #FFFFFF; 
}
.sunset {
    background-color: #F7B267 !important;
    color: #3A2F26; 
}

.evening {
    background-color: #4B3A57 !important;
    color: #E8DFF0; 
}
.oregon button {
    background-color: #F0E5D8; 
    color: #7B4B3A; 
    border: 1px solid #7B4B3A;
    transition: transform 0.3s ease;
    border-radius: 8px;
    font-weight: bold;
}
.oregon button:hover {
    background-color: #ccb9a1;
    transform: scale(1.08);
}
.oregon img {
    border-radius: 8px;
}

.misty button {
    background-color: #FFFFFF; 
    color: #4A5A63; 
    border: 1px solid #4A5A63;
    transition: transform 0.3s ease;
    border-radius: 8px;
    font-weight: bold;
}
.misty button:hover {
    background-color: #d7d3d3;
    transform: scale(1.08);
}
.misty img {
    border-radius: 8px;
}
.sunset button {
    background-color: #FFDA8B; 
    color: #5C3B20;
    transition: transform 0.3s ease;
    border-radius: 8px;
    font-weight: bold;
}
.sunset button:hover {
    background-color: #f2c76b;
    transform: scale(1.08);
}
.sunset img {
    border-radius: 8px;
}

.evening button {
    background-color: #E8DFF0; 
    color: #4B3A57; 
    border: 1px solid #4B3A57;
    transition: transform 0.3s ease;
    border-radius: 8px;
    font-weight: bold;
}
.evening button:hover {
    background-color: #dbc7ed;
    transform: scale(1.08);
}
.evening img {
    border-radius: 8px;
}
.product:hover {
    transform: scale(1.08);
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.product-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
}  

.product:hover .product-description {
    opacity: 1;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    z-index: 1;
}
.product-title {
    font-size: 2rem;
}